<footer class="footer">

  <div class="footer-content">
    <div class="footer-left">
      <img src="logo.jpg" alt="">
    </div>
    <div class="footer-center">
      <span>dati aziendali</span>
      <span>dati aziendali</span>
      <span>dati aziendali</span>
      <span>dati aziendali</span>
      <span>dati aziendali</span>
      <span>dati aziendali</span>
      <span>dati aziendali</span>
      <span>dati aziendali</span>
      <span>dati aziendali</span>
      <span>dati aziendali</span>
    </div>
    <div class="footer-bottom">
      <div class="credits-left">
        <strong>Sito web realizzato da Anthony Cecconi.©</strong>
      </div>
      <div class="credits-right">
        <strong>Web design by Daniel Monaco</strong>
      </div>
    </div>
  </div>
</footer>
