<footer class="footer">
  <div class="footer-container">
    <div class="footer-top-section">
      <div class="footer-logo">
        <img src="logo.jpg" alt="Logo Galletti Solutions">
      </div>
      <div class="footer-info">
        <span>P.iva: 17984981005</span>
        <span>Pec: Galletti.solutions&#64;legalmail.it</span>
        <span>Indirizzo: Via dell’Archeologia 24 - Roma</span>
        <span>Telefono: +39 328 786 3470</span>
        <span>Email: GallettiSolutions&#64;gmail.com</span>
      </div>
    </div>

    <div class="footer-separator"></div>

    <div class="footer-bottom-section">
      <div class="credits-left">
        <strong>Sito web realizzato da Anthony Cecconi.©</strong>
      </div>
      <div class="credits-right">
        <strong>Web design by Daniel Monaco</strong>
      </div>
    </div>
  </div>
</footer>
