<nav class="navigation">

  <a routerLink="/home" >
    <div class="brand-container">
      <img src="logo.jpg" alt="">
    </div>
  </a>

  <div class="nav-container">
    <div>
      <ul>
        <li><a class="home" routerLink="home" >HOME</a><span></span></li>
        <li><span>SERVIZI &dtrif;</span>
          <ul class="dropdown">
            <li><a routerLink="/servizi/Spurgo">Spurgo 24/7</a></li>
            <li><a routerLink="/servizi/Videoispezioni">Videoispezioni</a></li>
            <li><a routerLink="/servizi/Derattizzazione">Derattizzazione</a></li>
            <li><a routerLink="/servizi/Antitarlo">Antitarlo</a></li>
            <li><a routerLink="/servizi/Sanificazione">Sanificazione</a></li>
            <li><a routerLink="/servizi/Ristrutturazioni">Ristrutturazioni</a></li>
            <li><a routerLink="/servizi/Disinfestazione">Disinfestazione</a></li>
          </ul>
        </li>

        <li><a routerLink="/soluzioni">SOLUZIONI</a></li>

        <li><a routerLink="/contatti">CONTATTI</a></li>
      </ul>
    </div>
    <div class="sos">
      <i class="fa-solid fa-triangle-exclamation alert"></i>
      <h1>CHIAMA PER EMERGENZA </h1>
      <i class="fa-brands fa-whatsapp"  (click)="openWhatsApp()"></i>
      <i class="fa-solid fa-phone" (click)="callNumber()"></i>
    </div>
  </div>

  <div class="utility">
    <a routerLink="/chi-siamo">
      <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <div>
          <h3>chi siamo</h3>
          <h4>testo esempio</h4>
        </div>
      </div>
    </a>

    <a routerLink="/sos" class="emergency-link">
      <div class="page-selector">
        <span>EMERGENZE 24/7</span>
      </div>
    </a>
  </div>

</nav>
