<nav class="navigation">

  <div class="brand-container">
    <img src="logo.jpg" alt="">
  </div>

  <div class="nav-container">
    <div>
      <ul>
        <li><span>Work &dtrif;</span>
          <ul class="dropdown">
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Illustration</a></li>
            <li><a href="#">Iconography</a></li>
          </ul>
        </li>
        <li><span>Work &dtrif;</span>
          <ul class="dropdown">
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Illustration</a></li>
            <li><a href="#">Iconography</a></li>
          </ul>
        </li>
        <li><span>Work &dtrif;</span>
          <ul class="dropdown">
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Illustration</a></li>
            <li><a href="#">Iconography</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div>

    </div>
  </div>

  <div class="utility">
    a
    <!--contiene la card chi simao e la sezione per le emergenze divise per pagine-->
  </div>
</nav>
