<nav class="navigation">

  <div class="brand-container">
    <img src="logo.jpg" alt="">
  </div>

  <div class="nav-container">
    <div>
      <ul>
        <li><a class="home" routerLink="home" >HOME</a><span></span></li>
        <li><span>Work &dtrif;</span>
          <ul class="dropdown">
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Illustration</a></li>
            <li><a href="#">Iconography</a></li>
          </ul>
        </li>
        <li><span>Work &dtrif;</span>
          <ul class="dropdown">
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Illustration</a></li>
            <li><a href="#">Iconography</a></li>
          </ul>
        </li>
        <li><span>Work &dtrif;</span>
          <ul class="dropdown">
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Illustration</a></li>
            <li><a href="#">Iconography</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="sos">
      <i class="fa-solid fa-triangle-exclamation alert"></i>
      <h1>CHIAMA PER EMERGENZA </h1>
      <i class="fa-brands fa-whatsapp"></i>
      <i class="fa-solid fa-phone"></i>
    </div>
  </div>

  <div class="utility">
    <div class="card">
      <img src="https://picsum.photos/200/300" alt="">
      <div>
        <h3>chi siamo</h3>
        <h4>testo esempio</h4>
      </div>
    </div>

    <select class="page-selector" (change)="onNavigate($event)">
      <option value="/emergenze">EMERGENZE 24/7</option>
      <option value="/contatti">CONTATTI</option>
      <option value="/dove-siamo">DOVE SIAMO</option>
    </select>
  </div>

</nav>
