<div class="con">
  <section class="services">
    <h2>Servizi</h2>
    <ul class="service-grid">
      <li class="service" (click)='changePath("/servizi/Spurgo")'>
        <h3>Spurghi e manutenzione fognaria</h3>
        <ul>
          <li>Spurgo e pulizia di fosse biologiche, pozzi neri, reti fognarie</li>
          <li>Svuotamento e manutenzione di vasche e cisterne</li>
          <li>Disostruzione tubazioni e scarichi ad alta pressione</li>
          <li>Videoispezioni fognarie</li>
          <li>Smaltimento rifiuti liquidi a norma</li>
        </ul>
      </li>

      <li class="service"  (click)='changePath("/servizi/Derattizzazione")'>
        <h3>Derattizzazione</h3>
        <ul>
          <li>Ispezione ambienti e individuazione vie di accesso</li>
          <li>Trappole e bait station professionali</li>
          <li>Prodotti certificati e sicuri</li>
          <li>Monitoraggio continuo e report</li>
        </ul>
      </li>

      <li class="service" (click)='changePath("/servizi/Antitarlo")'>
        <h3>Trattamenti antitarlo</h3>
        <ul>
          <li>Ispezione di mobili, travi, parquet e strutture</li>
          <li>Trattamenti mirati a iniezione e superficiali</li>
          <li>Prodotti ecologici e certificati</li>
          <li>Protezione preventiva e controlli successivi</li>
        </ul>
      </li>

      <li class="service" (click)='changePath("/servizi/Sanificazione")'>
        <h3>Sanificazione</h3>
        <ul>
          <li>Abitazioni, condomini, uffici</li>
          <li>Scuole, negozi, ristoranti, strutture ricettive</li>
          <li>Eliminazione di batteri, virus, muffe</li>
          <li>Nebulizzatori, atomizzatori e sistemi a vapore</li>
          <li>Interventi periodici o straordinari</li>
        </ul>
      </li>

      <li class="service" (click)='changePath("/servizi/Ristrutturazioni-edili")'>
        <h3>Ristrutturazioni edili</h3>
        <ul>
          <li>Rifacimento bagni e cucine</li>
          <li>Facciate, tetti, impermeabilizzazioni e coibentazioni</li>
          <li>Opere murarie con impianti idraulici ed elettrici</li>
          <li>Rifiniture e posa pavimenti</li>
        </ul>
      </li>

      <li class="service" (click)='changePath("/servizi/Videoispezioni")'>
        <h3>Disinfestazione</h3>
        <ul>
          <li>Insetti volanti e striscianti</li>
          <li>Condomini, aree esterne, uffici e negozi</li>
          <li>Nebulizzatori ULV, trappole e piani di prevenzione</li>
          <li>Prodotti certificati ed ecologici</li>
        </ul>
      </li>

      <li class="service" (click)='changePath("/servizi/Idraulica")'>
        <h3>Idraulica</h3>
        <ul>
          <li>Pronto intervento 24/7 per perdite, guasti, allagamenti</li>
          <li>Installazione impianti idraulici civili e commerciali</li>
          <li>Manutenzione ordinaria e straordinaria</li>
          <li>Rilevamento perdite e sostituzioni rapide</li>
        </ul>
      </li>
    </ul>
  </section>
</div>
