<app-navbar></app-navbar>

<section>
  <div  class="sos-container">
    <div class="sos-header">
      <h1>EMERGENZA</h1>
    </div>
    <div class="sos-content">
    <div class="sos-item no-smart">
      <p class="intro">
        Emergenze idrauliche, spurghi, allagamenti o infestazioni? Interveniamo h24 con tecnici qualificati e attrezzature certificate, limitando danni e tempi di fermo. Operiamo in abitazioni, condomini e attività con soluzioni rapide, sicure e trasparenti.
      </p>
    </div>


      <div class="sos-item">
        <div class="sos-contact">
          <ul>
            <li><span>Davide Galletti</span> <span class="recap">+39 328 7863 470</span></li>
            <li><span>Simone Galletti</span> <span class="recap">+39 324 8883 667</span></li>
            <!--<li><span>Alfredo Galletti</span> <span class="recap">+39 389 9852 963</span></li>-->
            <li><span>Email</span> <span class="recap">Gallettisolutions&commat;gmail.com</span></li>
          </ul>
        </div>
        <div class="sos-zon">
          <h2>ZONE DI INTERVENTO</h2>
          <ul class="zon">
            <li>Guidonia Montecelio </li>
            <li>Fiumicino </li>
            <li>Pomezia </li>
            <li>Tivoli </li>
            <li>Anzio </li>
            <li>Civitavecchia </li>
            <li>Roma</li>
            <li>Ardea </li>
            <li>Nettuno </li>
            <li>Velletri </li>
            <li>Albano laziale</li>
            <li>Ciampino</li>
            <li>Frascati</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
