<app-navbar></app-navbar>

<section>
  <div  class="sos-container">
    <div class="sos-header">
      <h1>EMERGENZA</h1>
    </div>
    <div class="sos-content">
      <div class="sos-item no-smart">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos obcaecati dolor dolorem nihil. Laborum modi consequuntur tempore, nesciunt doloremque magni totam ullam dolore excepturi iste, ratione nisi distinctio! Illo, modi!
        Eveniet blanditiis ratione laboriosam sequi, reprehenderit nostrum ad. Non, debitis! Porro inventore reprehenderit nemo fuga sequi illo ullam assumenda vitae odio optio numquam, modi doloremque aut explicabo illum, corporis voluptatem.
        Excepturi, ex? Omnis molestiae dignissimos cum adipisci reiciendis consequuntur porro suscipit inventore fugit maxime corporis tempora mollitia vitae quaerat in iste accusamus voluptatem ex quibusdam, similique incidunt obcaecati excepturi nam.</p>
      </div>
      <div class="sos-item">
        <div class="sos-contact">
          <ul>
            <li><span>Davide Galletti</span> <span class="recap">333 3333 3333 333</span></li>
            <li><span>Simone Galletti</span> <span class="recap">333 3333 3333 333</span></li>
            <li><span>Alfredo Galletti</span> <span class="recap">333 3333 3333 333</span></li>
            <li><span>Email</span> <span class="recap">info-info.it</span></li>
          </ul>
        </div>
        <div class="sos-zon">
          <h2>ZONE DI INTERVENTO</h2>
          <ul class="zon">
            <li>roma</li>
            <li>roma</li>
            <li>roma</li>
            <li>roma</li>
            <li>roma</li>
            <li>roma</li>
            <li>roma</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>
