<app-navbar></app-navbar>

<section>
  <div class="are-container">
    <div class="story-header">
      <h1>LA NOSTRA STORIA</h1>
    </div>
    <div>
      <div class="brand-container">
        <img src="logo.jpg" alt="">
      </div>
      <div class="story-content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit molestias vitae enim dolore omnis autem, dolor hic! Harum, consequuntur voluptates? Libero temporibus molestiae placeat architecto rerum delectus accusantium! Nobis, reiciendis.
          Ratione repudiandae voluptatem esse accusantium nam quaerat magni ea! Tenetur eligendi eaque reiciendis nostrum soluta, commodi minima quibusdam reprehenderit in similique aliquid ipsum, suscipit error itaque debitis est illum delectus.
          Natus debitis dolores sit voluptas illo ipsa atque reiciendis aspernatur aliquam amet ratione quos, sunt totam ducimus facere nostrum expedita molestiae consequatur animi aperiam. Dicta rerum eos porro vero voluptate.
          Quaerat labore aliquid aut, doloremque, dicta eaque blanditiis praesentium optio distinctio impedit corporis earum neque quibusdam! Consequatur commodi distinctio, dolorum perferendis saepe soluta quis ratione architecto harum fugiat explicabo itaque.
        </p>
        <p class="story-date">
          DATA AGGIORNAMENTO
        </p>
      </div>
    </div>
  </div>
</section>

<section>
    <div class="are-container">
      <div class="staf-header">
        <div class="navitem"><</div>
        <div class="staf-title"><h2>STAFF</h2></div>
        <div class="navitem">></div>
      </div>

      <div class="staf-content">
        <div class="content-item-left" ><img src="https://picsum.photos/200/300" alt=""></div>
        <div class="content-item-right" >
          <h3>NOME</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque ullam aliquam optio eligendi, quas nemo necessitatibus accusantium hic error nihil odit exercitationem voluptatibus obcaecati libero praesentium cumque ad ea. Fuga!
          Nulla, recusandae. Dicta amet magni quae incidunt libero suscipit vero odio necessitatibus obcaecati! Unde quo cum minima eius! Consequatur dolor eum pariatur in culpa minus cumque praesentium cum reiciendis maiores?
          Sit dolorum atque quas suscipit perspiciatis quo dolor ratione officia sequi ipsum, neque reprehenderit exercitationem quasi? Porro aliquam eligendi, ducimus, similique voluptatem, voluptas repellendus cum harum libero vel pariatur. Corporis.</p>
        </div>
      </div>
    </div>
</section>

<section>
  <div class="are-container ">
    <div class="whant-me">
      <h4>PERCHE SCEGLIERCI</h4>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet harum voluptatibus facilis voluptas ea aspernatur? Doloribus, maiores. Assumenda possimus enim sed, rerum tempora autem quis nulla, consectetur a, sunt ratione?
        Explicabo, exercitationem? Enim saepe veritatis magnam labore excepturi et facilis. A iusto modi, cum veniam, nisi unde, dolorem perferendis cumque et harum suscipit ipsam consectetur sit possimus dignissimos repudiandae minima.
        Harum, nesciunt et distinctio odio eaque odit libero corrupti incidunt consectetur eos cum ad quidem veniam obcaecati numquam autem repellendus deserunt excepturi ea saepe earum nobis aliquam porro fuga! Fuga?
        Fuga dolorum sint reiciendis itaque, iste quo veniam? Magnam, fugit! At dolores cum asperiores amet! In facilis perspiciatis accusamus, ipsam ad similique placeat, qui modi libero nihil nulla eligendi. Soluta.
      </p>

    </div>
  </div>
</section>


<app-footer></app-footer>
