<app-navbar></app-navbar>

<section>
  <div class="hero-container">
    <img src="https://picsum.photos/200/300" alt="">
    <h1>SPURGO</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eos nostrum labore laboriosam doloribus error accusantium laudantium modi mollitia, facilis explicabo atque distinctio beatae sit illo. Molestias, illo consectetur? Ab!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quibusdam aliquam, at facilis nulla dignissimos saepe modi minus architecto ea, reiciendis alias dicta, veniam unde laudantium et dolor ducimus quo.
    </p>
  </div>
</section>

<section>
  <h2 class="header-list">dettagli servizi</h2>
  <ul class="container-list">
    <li class="card">
      <img src="https://picsum.photos/200/300" alt="">
      <div class="content">
        <h2>dettaglio</h2>
        <p>spiegazione</p>
      </div>
    </li>
  </ul>
</section>

<app-footer></app-footer>
