<app-navbar></app-navbar>
<section class="video-hero">
  <video id="bg-video" autoplay muted loop playsinline poster="/img/servizi/disinfestazione/disinfestazione-01.jpg">
    <source src="/video/Hero-video.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>
</section>

<section class="service-hero">
  <div class="card-container">
      <div class="card">
        <img src="/img/servizi/disinfestazione/disinfestazione-01.jpg" alt="">
        <a routerLink="/servizi/Spurgo">
          <div class="intest" >
             <h3>Spurgo 24/7</h3>
            <p>questo servizio fa questo</p>
          </div>
        </a>
      </div>
      <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <a routerLink="/servizi/Derattizzazione">
          <div class="intest" >
             <h3>Derattizzazione</h3>
            <p>questo servizio fa questo</p>
          </div>
        </a>
      </div>
      <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <a routerLink="/servizi/Disinfestazione">
          <div class="intest" >
             <h3>Disinfestazione</h3>
            <p>questo servizio fa questo</p>
          </div>
        </a>
      </div>
  </div>
  <main>
    <h1>PERCHE SCEGLIERE I NOSTRI SERVIZI</h1>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta laudantium eum perspiciatis, repudiandae quam consequuntur suscipit ipsam hic voluptate animi eligendi autem reprehenderit molestiae qui dolore atque? Modi, id illo?</P>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi ipsa nemo delectus nulla. Accusantium, eos? Voluptatibus, earum. Perferendis beatae facere, consectetur eaque ipsum nam, dolor quas sint, accusamus soluta vero.</p>
  </main>
</section>

<section class="carousel-container" (click)="goToNext()">
  <button class="arrow left-arrow" (click)="goToPrevious()">
   <i class="fa-solid fa-arrow-left"></i>
  </button>

  <div class="carousel-slide">
    <img [src]="slides[currentIndex].imageUrl" [alt]="slides[currentIndex].altText">
    <div class="slide-content">
      <h3>{{slides[currentIndex].title}}</h3>
      <p>{{slides[currentIndex].imageUrl}}</p>
    </div>
  </div>

  <button class="arrow right-arrow" (click)="goToNext()">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</section>

<section>
    <main>
    <h1>PERCHE SCEGLIERE I NOSTRI SERVIZI</h1>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta laudantium eum perspiciatis, repudiandae quam consequuntur suscipit ipsam hic voluptate animi eligendi autem reprehenderit molestiae qui dolore atque? Modi, id illo?</P>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi ipsa nemo delectus nulla. Accusantium, eos? Voluptatibus, earum. Perferendis beatae facere, consectetur eaque ipsum nam, dolor quas sint, accusamus soluta vero.</p>
  </main>
</section>

<app-footer></app-footer>
