<app-navbar></app-navbar>
<section class="video-hero">
  <video autoplay muted loop playsinline poster="https://via.placeholder.com/1280x720?text=Anteprima">
    <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>
  <h1>SOLUZIONI PRATICHE</h1>
</section>

<section class="service-hero">
  <div class="card-container">
      <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <div class="intest" >
          <a href=""> <h3>servizio</h3></a>
          <p>questo servizio fa questo</p>
        </div>
      </div>
      <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <div class="intest" >
          <a href=""> <h3>servizio</h3></a>
          <p>questo servizio fa questo</p>
        </div>
      </div>
      <div class="card">
        <img src="https://picsum.photos/200/300" alt="">
        <div class="intest" >
          <a href=""> <h3>servizio</h3></a>
          <p>questo servizio fa questo</p>
        </div>
      </div>
  </div>
</section>
