<app-navbar></app-navbar>
<section class="video-hero">
  <video id="bg-video" autoplay muted loop playsinline poster="/img/servizi/disinfestazione/disinfestazione-01.jpg">
    <source src="/video/Hero-video.mp4" type="video/mp4">
    Il tuo browser non supporta il tag video.
  </video>
</section>

<section class="service-hero">
  <div class="card-container">
      <div class="card">
        <img src="/img/servizi/spurgo/spurgo-01.jpg" alt="Spurgo">
        <a routerLink="/servizi/Spurgo">
          <div class="intest" >
             <h3>Spurgo 24/7</h3>
            <p>Offriamo servizi professionali di spurgo per fognature, pozzi neri e fosse biologiche, garantendo interventi rapidi e risolutivi , 24/7 !! . Grazie alla tecnologia di videoispezione con telecamere ad alta definizione, individuiamo ostruzioni, rotture o anomalie all’interno delle tubature, senza interventi invasivi. Ideale per prevenire emergenze e pianificare interventi mirati.</p>
          </div>
        </a>
      </div>
      <div class="card">
        <img src="/img/servizi/derattizzazione/derattizzazione-01.jpg" alt="Derattizzazione">
        <a routerLink="/servizi/Derattizzazione">
          <div class="intest" >
             <h3>Derattizzazione</h3>
            <p>Eliminiamo in modo rapido e sicuro ogni infestazione di topi e ratti, proteggendo ambienti domestici, commerciali e industriali. Utilizziamo metodi certificati, sicuri per persone e animali domestici, garantendo interventi mirati e risultati duraturi.</p>
          </div>
        </a>
      </div>
      <div class="card">
        <img src="/img/servizi/disinfestazione/disinfestazione-01.jpg" alt="Disinfestazione">
        <a routerLink="/servizi/Disinfestazione">
          <div class="intest" >
             <h3>Idraulica</h3>
            <p>Individuiamo con precisione la causa di perdite d’acqua e infiltrazioni grazie a tecnologie non invasive come termocamere, geofoni e gas traccianti. Interveniamo su impianti idraulici, muri, tetti e pavimenti senza demolizioni inutili, riducendo tempi e costi. Ideale per abitazioni, attività commerciali e condomìni.</p>
          </div>
        </a>
      </div>
      <div class="card">
        <img src="/img/servizi/disinfestazione/disinfestazione-01.jpg" alt="Disinfestazione">
        <a routerLink="/servizi/Disinfestazione">
          <div class="intest" >
             <h3>Disinfestazione</h3>
            <p>Proteggiamo i tuoi ambienti da insetti e parassiti con interventi rapidi, sicuri e risolutivi. Utilizziamo prodotti certificati e tecniche moderne per garantire l’eliminazione efficace di infestazioni da scarafaggi, formiche, zanzare, cimici dei letti e altri infestanti. Operiamo nel pieno rispetto delle norme igienico-sanitarie, per abitazioni, uffici e attività commerciali.</p>
          </div>
        </a>
      </div>
  </div>
  <main>
      <div class="intro-section">
          <h1>PERCHE SCEGLIERE I NOSTRI SERVIZI</h1>
          <p>Affidarsi a Galletti Solutions SRL significa scegliere sicurezza, competenza e rapidità nei servizi.</p>
      </div>

      <div class="strengths-section">
          <h2>I nostri punti di forza:</h2>
          <ul class="strengths-list">
              <li>
                  <span class="check-icon">&#10003;</span> Interventi rapidi e puntuali, anche in urgenza H24
              </li>
              <li>
                  <span class="check-icon">&#10003;</span> Attrezzature all'avanguardia per spurgo, videoispezioni, disotturazioni e trattamenti ambientali
              </li>
              <li>
                  <span class="check-icon">&#10003;</span> Disinfestazioni mirate contro insetti, roditori e altri infestanti, con prodotti sicuri e certificati
              </li>
              <li>
                  <span class="check-icon">&#10003;</span> Preventivi chiari e trasparenti, senza sorprese
              </li>
          </ul>
      </div>
  </main>
</section>

<section class="carousel-container" (click)="goToNext()">
  <button class="arrow left-arrow" (click)="goToPrevious()">
   <i class="fa-solid fa-arrow-left"></i>
  </button>

  <div class="carousel-slide">
    <img [src]="slides[currentIndex].imageUrl" [alt]="slides[currentIndex].altText">
    <div class="slide-content">
      <h3>{{slides[currentIndex].title}}</h3>
      <p>{{slides[currentIndex].imageUrl}}</p>
    </div>
  </div>

  <button class="arrow right-arrow" (click)="goToNext()">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</section>


<app-footer></app-footer>
