<app-navbar></app-navbar>

<section>
  <div class="hero-container">
    <img src="https://picsum.photos/200/300" alt="">
    <h1>IDRAULICA</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima eos nostrum labore laboriosam doloribus error accusantium laudantium modi mollitia, facilis explicabo atque distinctio beatae sit illo. Molestias, illo consectetur? Ab!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quibusdam aliquam, at facilis nulla dignissimos saepe modi minus architecto ea, reiciendis alias dicta, veniam unde laudantium et dolor ducimus quo.
    </p>
  </div>
</section>

<section>
  <h2 class="header-list">dettagli servizi</h2>
  <ul class="container-list">
    <li class="card">
      <img src="https://picsum.photos/200/300" alt="">
      <div class="content">
        <h2>dettaglio</h2>
        <p>spiegazione</p>
      </div>
    </li>
  </ul>
</section>

<section class="items">
  <div class="main-items">
    <h2>ATTREZZATURE</h2>
    <div class="items-img">
      <img src="https://picsum.photos/200/300" alt="">
    </div>
    <div class="items-text">
        <h3>NOME</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat officia velit iure! Ut nihil unde consequatur, necessitatibus eaque eligendi et corrupti laboriosam officiis, atque rem sunt explicabo, harum quasi saepe?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, tempora velit, sint culpa ipsa consequatur at numquam incidunt cum modi natus quo molestias fugit deleniti quia. Dolorem nihil facere quidem?</p>
    </div>
  </div>
</section>

<app-footer></app-footer>
